body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f7f7f7;
}

.title {
  text-align: center;
}

table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  background: #fff;
}

thead th {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  background-color: #eee;
}

td, th {
  border: 1px solid #ccc;
  padding: 0;
  text-align: center;
}

input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

tbody tr.ok input,
tbody tr.warn input,
tbody tr.bad input {
  background: transparent;
  color: inherit;
}

tbody tr.ok {
  background-color: #2e7d32;
  color: #fff;
}

tbody tr.warn {
  background-color: #f9a825;
  color: #000;
}

tbody tr.bad {
  background-color: #c62828;
  color: #fff;
}
